<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Dice!</title>
    <link rel="stylesheet" href="assets/css/styles.min.css" type="text/css">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/dice/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/dice/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dice/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/dice/assets/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="/dice/assets/img/favicons/safari-pinned-tab.svg" color="#b72121">
    <link rel="shortcut icon" href="/dice/assets/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#b72121">
    <meta name="msapplication-TileImage" content="/dice/assets/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/dice/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Facebook Open Graph -->
    <meta property="og:image" content="https://stormreaever.github.io/dice/assets/img/social/image-1200x630.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:title" content="Dice!">
    <meta property="og:description" content="Roll RPG dice! Roll the 7 standard polyhedral dice or use dice expressions to roll anything you want.">
    <meta property="og:url" content="https://stormreaever.github.io/dice/">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@kathrynhartog">
    <meta name="twitter:title" content="Dice!">
    <meta name="twitter:description" content="Roll RPG dice! Roll the 7 standard polyhedral dice or use dice expressions to roll anything you want.">
    <meta name="twitter:image" content="https://stormreaever.github.io/dice/assets/img/social/image-1200x630.png">
    <meta name="twitter:image:alt" content="Illustratino of seven red polyhedral dice: the kind that are used in role-playing games.">

  </head>
  <body ng-app="roll" ng-controller="rollController">

    <div class="dice-row">

      <button ng-Click="diceBtn('1d4')" class="d4"><img src="assets/img/d4.svg" /><span>d4</span></button>
      <button ng-Click="diceBtn('1d6')" class="d6"><img src="assets/img/d6.svg" /><span>d6</span></button>
      <button ng-Click="diceBtn('1d8')" class="d8"><img src="assets/img/d8.svg" /><span>d8</span></button>
      <button ng-Click="diceBtn('1d20')" class="d20"><img src="assets/img/d20.svg" /><span>d20</span></button>
      <button ng-Click="diceBtn('1d10')" class="d10"><img src="assets/img/d10.svg" /><span>d10</span></button>
      <button ng-Click="diceBtn('1d100')" class="d100"><img src="assets/img/d100.svg" /><span>d100</span></button>
      <button ng-Click="diceBtn('1d12')" class="d12"><img src="assets/img/d12.svg" /><span>d12</span></button>

    </div>

    <div class="text-bar" ng-class="{'contracted': cards.length > 0}">
      <input type="text" ng-model="roll" placeholder="1d20" ng-keypress="rollKeyPress($event)">
      <button ng-click="rollDice()">Roll</button>
    </div>

    <div class="cards">
      <div class="card" ng-repeat="card in cards | orderBy:null:true">
        <div class="total"><span>{{card.total}}</span></div>
        <div class="breakdown">
          <p>Rolled <strong>{{card.roll}}</strong></p>
          <p>= {{card.rendered}}</p>
          <p>= {{card.total}}</p>
        </div>
      </div>
    </div>

    <footer class="app">
      <a href="about.html" title="About">?</a>
    </footer>


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/4.0.1/math.min.js"></script> -->
    <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>
